<div class="center jumbotron">
  <h1> Welcome to the Cabin Separator </h1>
  <h3>Have a class retreat coming up?  We take information about student and
    chaperone preferences and find a cabin sorting that pleases everyone!</h3>
  <%= link_to "Sign up now!", new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
</div>
<ul class="summary-panel">
  <li class="summary-card">
    <div class="panel">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      </div>
      <div class="panel-body">
        <h5 class="card-title">Create a Retreat</h5>
        <p class="card-text">Give us a list of names of students and chaperones</p>
      </div>
    </div>
  </li>
  <li class="summary-card">
    <div class="panel">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      </div>
      <div class="panel-body">
        <h5 class="card-title">Enter Preferences</h5>
        <p class="card-text">Tell us who the chaperones should be bunked with, and have the students indicate their friends</p>
      </div>
    </div>
  </li>
  <li class="summary-card">
    <div class="panel">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
      <div class="panel-body">
        <h5 class="card-title">Get Your Cabins</h5>
        <p class="card-text">We'll email you an arrangement that pleases as many as possible within an hour</p>
      </div>
    </div>
  </li>
</ul>
